<mat-card  *ngIf="phase==='place'" class="intro-component">
  <mat-card-title>Bevezetés</mat-card-title>
  <mat-card-subtitle>Egy kis ismertető a játékról</mat-card-subtitle>
  <mat-card-content>
      <p>
        Egy egy egyszerű kedves kis játék place
      </p>
    </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="next($event)">Tovább</button>
  </mat-card-actions>
</mat-card>
<mat-card *ngIf="phase==='task'" class="intro-component">
  <mat-card-title>Bevezetés</mat-card-title>
  <mat-card-subtitle>Egy kis ismertető a játékról</mat-card-subtitle>
  <mat-card-content>
      <p>
        Egy egy egyszerű kedves kis játék
      </p>
    </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="next($event)">Tovább</button>
  </mat-card-actions>
</mat-card>
<mat-card *ngIf="phase==='question'" class="intro-component">
  <mat-card-title>Bevezetés</mat-card-title>
  <mat-card-subtitle>Egy kis ismertető a játékról</mat-card-subtitle>
  <mat-card-content>
      <p>
        Egy egy egyszerű kedves kis játék
      </p>
    </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="next($event)">Tovább</button>
  </mat-card-actions>
</mat-card>